* {
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 14px;
  background: #181819;
  font-family: 'Open Sans', sans-serif;
}

.list {
  width: 226px;
  margin: 10px 10px;
  padding-left: 34px;
  text-align: center;
}

.list a {
  color: #969696;
  display: block;
  padding: 4px 7px;
  line-height: 18px;
  border-bottom: 1px solid #3c3c3c;
}

.list li a:hover {
  color: #afafaf;
  background: #252527;
}

#extensions {
  text-align: right;
  font-style: italic;
  width: 226px;
  padding-left: 0px;
}

#clown {
  border: 1px solid #525252;
  margin-top: 0px;
  margin-left: 44px;
}

#page-wrap {
  width: 313px;
  margin: 0 auto;
}
